<% @statistic_types.group_by{|k,v| v[:position_type]}.each do |position_type, statistic_types_by_position| %>
  <h2>Top <%= position_type_description(@league_code, position_type).pluralize %> Last Month</h2>
  <div class="filter-bar form-inline">
  <%= player_status_toggle(position_type, "Your Team", "U", true) %>&nbsp;&nbsp;
  <%= player_status_toggle(position_type, "Available Players", "A", true) %>&nbsp;&nbsp;
  <%= player_status_toggle(position_type, "Other Owned Players", "O", true) %>
  </div>
  <table id="<%= position_type %>" class="table table-condensed table-bordered table-striped stats-horizontal players">
    <thead>
      <tr>
        <th>Rank</th>
        <th><%= position_type_description(@league_code, position_type).pluralize %></th>
        <th>Owner</th>
        <th></th>
        <% statistic_types_by_position.each do |k, v| %>
          <th class="stat"><%= v[:display_name] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @detailed_rankings.find_all{|k,v| v[:position_type] == position_type}.each_with_index do |(k,v), index| %>
      <tr class='<%= v[:status].downcase %>'>
        <td><%= index + 1 %></td>
        <td><%= v[:player_name] %> (<%= v[:positions] %>)</td>
        <td><%= v[:owner] %></td>
        <td><%= v[:status] %></td>
        <% v[:stats].each do |k,v| %>
            <td><%= v[:value] %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
